
<% if @club.errors %>
  <%  @club.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <%end%>
<%end%>

<%= form_for @club do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :genre %>
  <%= f.text_field :genre %><br />

  <%= f.label :description %>
  <%= f.text_area :description %><br />


  <%= f.submit %>
<% end %>
