<h1><%= @club.name %></h1>

<h3>Genre: <%= @club.genre %></h3>

<p><%= @club.description %></p>

<h2>Books:</h2><br />

<% @club.books.each do |book| %>
<%= book.title %> by <%= book.author %>
<% end %>
