
<% if @book.errors %>
  <ul>
    <%  @book.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <%end%>
  </ul>
<% end %>



<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
  <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id]}), prompt: "Select a genre") %>

  <%= f.file_field :book_image %>

  <%= f.input :title, label: "Book Title" %>
  <%= f.input :summary %>

  <%= f.input :author %>
  <%= f.button :submit  %>
<% end %>
