<% if @book.errors.any? %>
<ul>
  <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [@user, @book] do |f| %>
  <h3>Title: <%= f.text_field :title, placeholder: "Title" %></h3>
  <h4>By: <%= f.text_field :author, placeholder: "Author" %></h4>

  <p>Genre: <%= f.text_field :genre, placeholder: "Genre" %><p>
  <p>Summary: <%= f.text_area :summary, placeholder: "Summary" %></p>

  <%= f.submit %>

<% end %>
