<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_image.url(:book_show), class: "book-show" %>
  </div>

  <div class="col-md-8">

    <h2><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <h2>Average Rating</h2>
    <div class="average-review-rating" data-score="<%= @average_review%>"></div>
    <span>Based on <%= @book.reviews.count %> reviews // <%= link_to "view all", book_reviews_path(@book) %></span>
    <h4>Genre: <%= @book.genre.name %></h4>
    <p><%= @book.summary %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <!-- where reviews go -->

    <%= render @book.reviews %>

    <div>
      <%= link_to "Add Review", new_book_review_path(@book) %>
    </div>
  </div>
</div>
<%= link_to "Back", root_path %> //


<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to "Edit Book", edit_book_path(@book) %> //
    <%= link_to "Delete Book", book_path(@book), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
