<h1>Hi <%= current_user.name %>!</h1>

<h3><%= link_to "Add a Book", new_user_book_path(current_user) %></h3>

<h3>All Books</h3>
<ul>
<% Book.all.each do |book| %>
  <li><%= book.title %> by <%= book.author %> // <small><%= link_to "view details", book_path(book) %></small></li>
<% end %>
</ul>
