<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @review do |f| %>
  <%= f.text_area :comment, placeholder: "Add Comment" %><br>
  Check to recommend this to a friend

  <%= f.check_box :recommend%>
  <br>
  <%= f.submit %>

<% end %>
