<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @review do |f| %>
  <%= f.text_area :comment, placeholder: "Add Comment" %><br>
  Would you recommend this to a friend? <br>

  <%= f.check_box :recommend, '', {}, 'Yes', 'No'%>
  <br>
  <%= f.submit %>

<% end %>
