

<%= form_for [@book, review] do |f| %>
  <p>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label "Check to recommend to a friend" %><br />
    <%= f.check_box :recommend %><br />
  </p>
  <%= f.submit %>
<% end %>
